<header class="page_description">
  <h2>视频库</h2>

  <div>
    <div style="margin-bottom:10px;float: left;"> <%= button_to "添加视频", new_channel_video_path(:forminfo => @channel) %></div>

    <div style="margin-bottom:10px;margin-left:20px;float: left;">
      <%= form_for(:forminfo, :url => {:action => 'index'}, :html => {:method => 'get'}) do |s| %>
          <%= s.select :cid, @channels.collect { |c| [c.title, c.cid] }, {}, :onchange => "this.form.submit()", :with => '' %>
      <% end %>
    </div>

  </div>

</header>

<div class="wrap cell_16 round_all">
  <table class="fancy_rows datatable">

    <thead>
    <tr>
      <th>序号</th>
      <th>视频ID</th>
      <th>视频标题</th>
      <th>图片</th>
      <th>原价</th>
      <th>优惠价</th>
      <th>推荐</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @videos.each_index do |i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= link_to @videos[i].video_id,channel_video_path(@videos[i],:forminfo=>@channel)%></td>
          <td><%= @videos[i].title %></td>
          <td>
            <% if @videos[i].video_img != nil %>
                <%= image_tag @videos[i].video_img, :width => 80 %>
            <% end %>
          </td>
          <td><%= @videos[i].original_price %></td>
          <td><%= @videos[i].privilege_price %></td>
          <td><%= tag "input", { "type" => "button", "value" => "推荐" ,"onclick" => "openwindow('/dialogs/window?id=#{@videos[i].id}','',320,100);"} %></td>
          <td style="text-align:center;">
            <%= link_to image_tag("edit.png"), edit_channel_video_path(@videos[i],:forminfo=>@channel) %>
            <%= link_to image_tag("delete.png"), channel_video_path(@videos[i],:forminfo=>@channel), :confirm => "Are you sure?", :method => :delete %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
