<section class="">
  <% unless @video.errors.blank? %>
      <div class="alert alert_red">
        <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
        <%= t "admin.general.errors" %>: <%= errors_for @video %>
      </div>
  <% end %>
</section>
<%= form_for @video, :url => channel_videos_path,:html => {:name => "form", :multipart => :true} do |v| %>
    <%= hidden_field_tag :video_type,1 %>
    <%= hidden_field_tag :forminfo,@channel %>
    <%= render :partial => "form", :object => @video, :as => :video, :locals => {:v => v} %>
<div class="buttons">  
	<%= submit_tag "提交"%>
	<%= link_to '返回' ,channel_videos_url(:forminfo=>@channel),:class => 'submit'%>
</div>
<% end %>